*{margin: 0; padding: 0;}

body{
    color: #313847;
    font-family: 'Noto Sans JP';
}


a{
    color: #3872b8;
    text-decoration: none;
}

#title-space{
    border-bottom: 1px solid #d9dbde;
}
#title{
    font-weight: 400;
    font-size: 1.85em;
    letter-spacing: 5px;
}
#title a{
    color: #313847;
    text-decoration: none;
    transition: color .3s ease;
}
#title a:hover{
    color: #707480;
}

#center{
    padding-top: 4em;
    padding-bottom: 4em;
}
h1{
    font-size: 1.85em;
    font-weight: 400;
    letter-spacing: 3px;
}
#date{
    color: #707480;
    display: block;
    font-size: 0.85em;
    font-weight: 400;
    margin-bottom: 1em;
    text-align: right;
}
#article p{
    color: #465065;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.8em;
    margin-bottom: 1.5em;
}
#article a:hover{
    text-decoration: solid 1px underline #3872b8;
}
h2{
    border-bottom: 1px solid #313847;
    font-size: 1.4em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 1.5em 0 1em;
    padding: 0.2em 0.5em;
}


footer{
    background-color: #232731;
    color: #b5b7bd;
    font-size: 0.8em;
    margin-top: 2em;
    padding: 1.5em 4em;
    text-align: right;
}


@media screen and (max-width: 768px){
    body{font-size: 14px;}
    #title-space{padding: 34px 0 12px 3em;}
    #center{padding-left: 3em; padding-right: 3em;}
}
@media screen and (min-width: 768px){
    body{font-size: 15px;}
    #title-space{padding: 44px 0 16px; text-align: center;}
    #center{margin: 0 auto; max-width: 40em;}
}
@media screen and (min-width: 1024px){
    body{font-size: 16px;}
    #center{margin: 0 auto; max-width: 60em;}
}